* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 990px;
  margin: 16px auto 64px;
}

.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}

.title__text {
  font-size: 32px;
  margin-right: 8px;
}

.github-button {
  margin-right: 8px;
}

.week {
  display: flex;
  border: 1px solid #efefef;
  padding: 4px 0;
}

.day {
  flex: 1;
  margin: 0 8px;
}

.day__label {
  font-size: 18px;
  margin-bottom: 8px;
}

.day__hour {
  font-size: 12px;
  padding: 2px 2px 2px 8px;
}

.day__hour_asleep {
  background: #e8e8e8;
}

.day__hour_awake {
  background: #ffffff;
}

.day__hour_working {
  background: #daeef5;
}

.day__hour_working.day__hour_asleep {
  background: #f5dadf;
}

.controls {
  margin-bottom: 16px;
}

.controls__row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.controls__slider {
  margin-left: 8px;
  margin-right: 8px;
}
